$main-color: #202020;
$secondary-color: rgb(162, 21, 16); 
$supplement-color: #518cca;
$light-color: #e0e2e4;
$orange: #f78f3f;

$base-font-famile: 'Source Sans Pro', sans-serif;

$base-font-size: 18px;
$base-font-weight: 400;
